### Importing Libraries

In [1]:
import numpy as np
import os
import tensorflow as tf
import pandas as pd
from tqdm import tqdm
import shutil
import time

%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

2022-10-21 10:16:34.560351: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-10-21 10:16:34.560401: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

### Setup directories

In [2]:
CWD_PATH = os.getcwd()
IMG_PATH = '/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset'
LABEL_PATH = '/home/jupyter/gurih_mas/digit_recognizer/labels/221018_dataset'
MODEL_PATH = '/home/jupyter/gurih_mas/digit_recognizer/models/model_v3'
RESULT_PATH = '/home/jupyter/gurih_mas/digit_recognizer/results'

### Read true labels dataframe

In [3]:
df_truelabel = pd.read_csv(os.path.join(LABEL_PATH,'221018_DR_dataset_true_label.csv'), header=0, names=['ktp_pict','PIC','pred','true_label'])
df_pred = pd.read_csv(os.path.join(LABEL_PATH,'221018_Image_Samples.csv'), header=0, names=['ktp_pict','pred','PIC'])
df_pred_added = pd.read_csv(os.path.join(LABEL_PATH,'221018_Added_Image_Samples.csv'), header=0, names=['ktp_pict','pred','PIC'])
df_truelabel

                                         ktp_pict        PIC  pred  true_label
0      5842d07e-418f-44ce-af86-0d13a5a8984a_6.jpg  Mas Kemas     0           6
1      4e7153a7-a7bf-4d4e-9ffd-a6ef2c84e1c3_3.jpg  Mas Kemas     0           2
2      5c030af6-5f52-4ef0-99c7-309e9d753f52_9.jpg  Mas Kemas     0           0
3     5c030af6-5f52-4ef0-99c7-309e9d753f52_10.jpg  Mas Kemas     0           0
4      00e1b1b4-a9b8-42ed-9dad-64c2c78e6ad2_0.jpg  Mas Kemas     0           7
...                                           ...        ...   ...         ...
4797   00271205-38de-4d83-8fad-3ca0475507be_3.jpg      Addin     9           9
4798   016c3300-c674-480c-87df-e4c8d9e0c9ba_5.jpg      Addin     9           9
4799  0147d75d-332d-414f-bd68-6ab46b89e1b0_10.jpg      Addin     9           9
4800  00178766-d1f9-406b-9e77-57dbc7ec5c42_10.jpg      Addin     9           9
4801   0118a8fe-ba05-4068-8e19-5a4749227964_9.jpg      Addin     9           9

[4802 rows x 4 columns]

In [4]:
df_pred

                                         ktp_pict  pred        PIC
0      5842d07e-418f-44ce-af86-0d13a5a8984a_6.jpg     0  Mas Kemas
1      4e7153a7-a7bf-4d4e-9ffd-a6ef2c84e1c3_3.jpg     0  Mas Kemas
2      5c030af6-5f52-4ef0-99c7-309e9d753f52_0.jpg     0  Mas Kemas
3      5c030af6-5f52-4ef0-99c7-309e9d753f52_1.jpg     0  Mas Kemas
4      5c030af6-5f52-4ef0-99c7-309e9d753f52_3.jpg     0  Mas Kemas
...                                           ...   ...        ...
4930  01939003-2e65-4cea-b732-ef7162860d59_15.jpg     9      Vanda
4931   01cb6fd3-1e6e-48a3-b32f-bbaf8bc9b816_5.jpg     9      Vanda
4932  354f4e1c-5906-44ca-8ee0-b3d8aa99352c_11.jpg     9      Vanda
4933  01b66808-6057-42e7-9e61-e367fa1858e5_10.jpg     9      Vanda
4934   00e8f929-b97c-4dd7-b34e-dd63a497f642_2.jpg     9      Vanda

[4935 rows x 3 columns]

In [5]:
df_pred_added

                                        ktp_pict  pred    PIC
0    0068f939-87a8-43e6-b5f1-202173afe9cc_13.jpg     0  Addin
1    002409f6-cfc7-494c-ad42-ba82ec1fc0c7_13.jpg     0  Addin
2    002409f6-cfc7-494c-ad42-ba82ec1fc0c7_14.jpg     0  Addin
3     01717470-8425-431c-bf42-f048957329be_3.jpg     0  Addin
4     01717470-8425-431c-bf42-f048957329be_4.jpg     0  Addin
..                                           ...   ...    ...
405  0123f301-2ec5-45e5-bf63-ffb79c16e252_11.jpg     9  Vanda
406  00a985d0-6125-4b14-88a7-5c6a895d5eb9_10.jpg     9  Vanda
407   00e8f929-b97c-4dd7-b34e-dd63a497f642_2.jpg     9  Vanda
408  01523787-3ec3-4160-bfcc-6faeda7b2ff3_10.jpg     9  Vanda
409  00a985d0-6125-4b14-88a7-5c6a895d5eb9_11.jpg     9  Vanda

[410 rows x 3 columns]

In [6]:
df_pred_all = pd.concat([df_pred, df_pred_added])
df_pred_all

                                        ktp_pict  pred        PIC
0     5842d07e-418f-44ce-af86-0d13a5a8984a_6.jpg     0  Mas Kemas
1     4e7153a7-a7bf-4d4e-9ffd-a6ef2c84e1c3_3.jpg     0  Mas Kemas
2     5c030af6-5f52-4ef0-99c7-309e9d753f52_0.jpg     0  Mas Kemas
3     5c030af6-5f52-4ef0-99c7-309e9d753f52_1.jpg     0  Mas Kemas
4     5c030af6-5f52-4ef0-99c7-309e9d753f52_3.jpg     0  Mas Kemas
..                                           ...   ...        ...
405  0123f301-2ec5-45e5-bf63-ffb79c16e252_11.jpg     9      Vanda
406  00a985d0-6125-4b14-88a7-5c6a895d5eb9_10.jpg     9      Vanda
407   00e8f929-b97c-4dd7-b34e-dd63a497f642_2.jpg     9      Vanda
408  01523787-3ec3-4160-bfcc-6faeda7b2ff3_10.jpg     9      Vanda
409  00a985d0-6125-4b14-88a7-5c6a895d5eb9_11.jpg     9      Vanda

[5345 rows x 3 columns]

In [7]:
df_truelabel = df_truelabel[df_truelabel['true_label'].isin([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0])] #Exclude NaN images
df_truelabel = df_truelabel.astype({'true_label': int}) #Convert true_label classes from float to integer
df_truelabel = df_truelabel.astype({'true_label': str}) #Convert true_label classes from integer to string

df_pred_all = df_pred_all[df_pred_all['pred'].isin([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0])] #Exclude NaN images
df_pred_all = df_pred_all.astype({'pred': int}) #Convert true_label classes from float to integer
df_pred_all = df_pred_all.astype({'pred': str}) #Convert true_label classes from integer to string

labels = df_truelabel.sort_values('true_label').reset_index(drop=True) #Extract the labels and store in a new data frame called labels
class_names = list(labels.true_label.unique()) #Create a Python list of Unique labels in data frame labels

In [8]:
labels.true_label.value_counts().sort_index() #Show data composition

0    444
1    461
2    528
3    466
4    485
5    456
6    499
7    502
8    466
9    495
Name: true_label, dtype: int64

In [9]:
split_ratio = 0.8
random_set = 10

#Split dataframe into multiple dataframe based on unique column values
dfdigit0 = labels[labels['true_label'] == '0']
dfdigit1 = labels[labels['true_label'] == '1']
dfdigit2 = labels[labels['true_label'] == '2']
dfdigit3 = labels[labels['true_label'] == '3']
dfdigit4 = labels[labels['true_label'] == '4']
dfdigit5 = labels[labels['true_label'] == '5']
dfdigit6 = labels[labels['true_label'] == '6']
dfdigit7 = labels[labels['true_label'] == '7']
dfdigit8 = labels[labels['true_label'] == '8']
dfdigit9 = labels[labels['true_label'] == '9']

#Sample image filename based on each labels
dftrain0 = dfdigit0.sample(frac=split_ratio, random_state=random_set)
dftest0 = dfdigit0.drop(dftrain0.index).reset_index(drop=True)
dftrain1 = dfdigit1.sample(frac=split_ratio, random_state=random_set)
dftest1 = dfdigit1.drop(dftrain1.index).reset_index(drop=True)
dftrain2 = dfdigit2.sample(frac=split_ratio, random_state=random_set)
dftest2 = dfdigit2.drop(dftrain2.index).reset_index(drop=True)
dftrain3 = dfdigit3.sample(frac=split_ratio, random_state=random_set)
dftest3 = dfdigit3.drop(dftrain3.index).reset_index(drop=True)
dftrain4 = dfdigit4.sample(frac=split_ratio, random_state=random_set)
dftest4 = dfdigit4.drop(dftrain4.index).reset_index(drop=True)
dftrain5 = dfdigit5.sample(frac=split_ratio, random_state=random_set)
dftest5 = dfdigit5.drop(dftrain5.index).reset_index(drop=True)
dftrain6 = dfdigit6.sample(frac=split_ratio, random_state=random_set)
dftest6 = dfdigit6.drop(dftrain6.index).reset_index(drop=True)
dftrain7 = dfdigit7.sample(frac=split_ratio, random_state=random_set)
dftest7 = dfdigit7.drop(dftrain7.index).reset_index(drop=True)
dftrain8 = dfdigit8.sample(frac=split_ratio, random_state=random_set)
dftest8 = dfdigit8.drop(dftrain8.index).reset_index(drop=True)
dftrain9 = dfdigit9.sample(frac=split_ratio, random_state=random_set)
dftest9 = dfdigit9.drop(dftrain9.index).reset_index(drop=True)

In [10]:
#Concat train and test filenames into one DataFrame
df_train = pd.concat([dftrain0, dftrain1, dftrain2, dftrain3, dftrain4, dftrain5, dftrain6, dftrain7, dftrain8, dftrain9], axis=0).reset_index(drop=True)
df_test = pd.concat([dftest0, dftest1, dftest2, dftest3, dftest4, dftest5, dftest6, dftest7, dftest8, dftest9], axis=0).reset_index(drop=True)

In [11]:
df_train

                                         ktp_pict        PIC  pred true_label
0     066cef86-137d-4708-ab82-a738356f6c02_13.jpg     Krisna     0          0
1      00cda37a-8409-4f1d-ac3d-9a97c75ac56e_8.jpg      Addin     0          0
2      00ffe211-568a-4345-ba25-0829863d0f7d_8.jpg  Mas Kemas     0          0
3     1fb71d06-94b9-4c0f-8997-36f385f839fa_12.jpg      Vanda     0          0
4      bda964c6-07e9-4c16-95c8-1803fb7e162f_8.jpg      Vanda     0          0
...                                           ...        ...   ...        ...
3837  014053e0-411c-48d7-8d5f-b7ccae6e8fdb_10.jpg      Vanda     9          9
3838   01d8a7eb-6263-48ab-94c9-299ad0de656d_5.jpg  Mas Kemas     9          9
3839   a6e4ba2d-e879-4ac8-94a3-ebb0e04a6cb2_9.jpg  Mas Kemas     9          9
3840  00bceea3-ef98-45d8-bc27-fbbc8f43a429_11.jpg      Vanda     9          9
3841  00b87227-dd96-4c29-9857-880633acb2c6_11.jpg     Krisna     9          9

[3842 rows x 4 columns]

In [12]:
df_test

                                        ktp_pict    PIC  pred true_label
0    8ec3c6e7-c7f0-4c32-9345-86377e269d4c_12.jpg    Rio     0          0
1    94249b5a-424e-4d0c-9f21-4ba0cfc2002f_12.jpg    Rio     0          0
2    01743e70-c80a-465a-a3f8-e4bf96c9225d_13.jpg    Rio     0          0
3    01743e70-c80a-465a-a3f8-e4bf96c9225d_12.jpg    Rio     0          0
4    00235536-7081-48af-90b5-48f9bcc58a7e_14.jpg  Vanda     0          0
..                                           ...    ...   ...        ...
955   6a3ed131-a018-4b94-9578-602431902a20_5.jpg    Rio     9          9
956   004a7b1e-e7fe-442b-9538-d93defc09ae2_3.jpg    Rio     9          9
957   0fa9a68f-a12d-4271-b14d-32363a0da51a_9.jpg  Vanda     9          9
958   016ac10e-afd0-462f-99ab-9ff44f5b1cc5_8.jpg  Vanda     9          9
959   5ec0d31d-be96-480f-8b4c-01d4be616fff_3.jpg  Vanda     9          9

[960 rows x 4 columns]

### Split train and test data into each labels

In [14]:
df_train = df_train[df_train['true_label'].isin([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0])] #Exclude NaN images
df_train = df_train.astype({'true_label': int}) #Convert true_label classes from float to integer
df_train = df_train.astype({'true_label': str}) #Convert true_label classes from integer to string
df_train['image_flag'] = "train"

df_test = df_test[df_test['true_label'].isin([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0])] #Exclude NaN images
df_test = df_test.astype({'true_label': int}) #Convert true_label classes from float to integer
df_test = df_test.astype({'true_label': str}) #Convert true_label classes from integer to string
df_test['image_flag'] = "test"

image_flag = ["train","test"]

In [20]:
for f in image_flag:
    for i in class_names:
        if os.path.isdir(os.path.join('/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset',f,i)) == False:
            os.makedirs(os.path.join('/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset',f,i))
        else:
            pass

In [17]:
for c in class_names:
    for i in list(df_train[df_train['true_label']==c]['ktp_pict']):
        # Create path to the image 
        get_image = os.path.join('/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset',c,i)
        # If image has not already exist in the new folder create one        
        if os.path.isfile('/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset/train/{}/{}'.format(c,i)) == False:
            # Copy the image 
            copy_image_to_class_folder = shutil.copy(get_image,'/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset/train/{}'.format(c))

In [ ]:
for c in class_names:
    for i in list(df_train[df_test['true_label']==c]['ktp_pict']):
        # Create path to the image 
        get_image = os.path.join('/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset',c,i)
        # If image has not already exist in the new folder create one        
        if os.path.isfile('/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset/train/{}/{}'.format(c,i)) == False:
            # Copy the image 
            copy_image_to_class_folder = shutil.copy(get_image,'/home/jupyter/gurih_mas/digit_recognizer/dataset/sample_image/221018_dataset/train/{}'.format(c))